<footer style="background-color: #4b85a4;">
    <hr>
    <div>
        <p> Porta de publicaciones de libros -</p> 
        <p>Desarrolladores:</p> 
        <ul>
            <li>Israel Hernandez Dorantes</li>
            <li>Diego Martinez Calzada</li>
            <li>Jorge Fernando Gonzalez Galarza</li>
        </ul>
    </div>
</footer>