<footer style="background-color: #4b85a4; padding: 1.5rem 0;">
    <div class="container" style="color: white;">
        <p> Porta de publicaciones de libros -</p> 
        <p>Desarrolladores:</p> 
        <ul>
            <li>Israel Hernandez Dorantes</li>
            <li>Diego Martinez Calzada</li>
            <li>Jorge Fernando Gonzalez Galarza</li>
        </ul>
    </div>
</footer>