/* Selecciona el contenedor principal de la vista */
body {
    padding: 25px;
}

/* Selecciona el pie de página especificamente */
footer {
    background:lightgray;
    margin: 10px -25px;
    padding: 2px 30px 30px;
}

/* Selecciona los <span> que desciendan de <footer> (aún indirectamente) */
footer span {
    width: 25%;
    display: inline-block;
    text-align: center;
}
